* {
    margin: 0;
    padding:0 ;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital@1&family=Nunito:ital,wght@1,300&family=Roboto+Slab&family=Ubuntu:wght@400;700&display=swap');


.screen {
    display: flex;
    background-color: #E2F1FF;
    justify-content: center;

}

.osnova {
    width:1440px ;

}

.button {
    display: flex;
    margin-bottom: 80px;
    padding: 20px 0px;
    justify-content: space-between;
}

.text {
    display: flex;

 
    justify-content: space-between;
}

img {


}

.menu {
    display: flex;
    color: #000000;
    gap: 40px;
}

.silka {
    display: flex;

    justify-content: space-around;
    align-items: center;
    font-family: 'Abril Fatface', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;


    gap: 35px;
}

a {
    text-decoration: none;
}


.treal {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 12px 24px;
    font-family: 'Abril Fatface', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;

    font-size: 14px;
    border-radius: 32px;
    border: 1px solid #722ED1;
    gap: 10px;
    color: #722ED1;
    background-color: white;
    line-height: 16.8px;
}

.text2 {


}

.passive img {

}

.text3 {


}

.text3 img {

}
.passive {
    display: flex;


    align-items: center;
}

.final {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    gap: 8px;
    color: #722ED1;
    font-family: 'Abril Fatface', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
}

.title {


    margin-top: 22px;
    font-size: 48px;
    font-weight: 700;
    line-height: 63.3px;
    font-family: 'Abril Fatface', serif;
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
}

.texat {


    margin-top: 16px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    opacity: 50%;
    font-size: 16px;
    line-height: 24px;
}

.buttons {
    display: flex;


    margin-top: 7px;
    align-items: center;
}

.ed {
    background-color: #722ED1;
    color: white;
    margin-right: 24px;
}


.main {
    display: flex;
    justify-content: center;
}


.body {
    display: flex;
    align-items: center;
    width: 1440px;
    gap: 24;
    justify-content: center;
    flex-direction: column;
}

.green_content {
    display: flex;
    padding: 8px 16px;
    border-radius: 20px;
    gap: 8;
    background-color: #F7F1FF;
    color: #722ED1;
    font-family: 'Abril Fatface', serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;
margin-top: 112px;

}

.green_text {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    flex-wrap: wrap;
}

.holder_pink {
    flex-wrap: wrap;
    display: flex;
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    margin-top: 24px;
}

.holders_pink {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #8989A2;
    opacity: 50%;
    margin-top: 24px;
 }

 .green_picters {
    display: flex;
    align-items: center;
    width: 960px;
 }

 .pink_picter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
 }

 .yellow_picter {
    display: flex;
    width: 40px;
    height: 40px;
    margin-top: 24px;
 }

.yellow_word {
    margin-top: 16px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #160637;
}

.yellow_text {
    font-family: 'Lato', sans-serif;
    margin-top: 16px;
    font-size: 16px;
    opacity: 50%;
    color:#8989A2;
}


.pink_picter2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    margin-left: 16px;
}

.yellow_word2 {
    margin-top: 16px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #160637;
}


.yellow_text2 {
    font-family: 'Lato', sans-serif;
    margin-top: 16px;
    font-size: 16px;
    opacity: 50%;
    color:#8989A2;
}


.pink_picter3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    margin-left: 16px;
}

.yellow_word3{
    margin-top: 16px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #160637;
}


.yellow_text3 {
    font-family: 'Lato', sans-serif;
    margin-top: 16px;
    font-size: 16px;
    opacity: 50%;
    color:#8989A2;
}

.content {
    display: flex;
    margin-top: 112px;
    justify-content: center;
}

.aside {
    display: flex;
    width: 1440px;
    justify-content: center;
}

.img {
    width: 400px;
    display: flex;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 85px;
    margin-top: 237px;
}


.subject {
    display: flex;
}


.Icon {
    display: flex;
    padding: 8px 16px;
    border-radius: 50px;
    gap: 12px;
    background-color: #F7F1FF;
    color: #722ED1;
    font-family: 'Abril Fatface', serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;
}

.caption {
    display: flex;
    margin-top: 24px;
    font-family:'Roboto Slab', serif;
font-size: 32px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
}

.title {
    font-family: 'Lato', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
opacity: 50%;
}

.section {
    display: flex;
    justify-content: center;
    background-color: #F9F0FF;
    margin-top: 112px;
}

.widget {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1440px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
}

.subtitle {
    font-family: 'Lato';
font-size: 24px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 32px;
}

.excerpt {
    font-family: 'Lato';
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
margin-top: 32px;
}

.thumb {
    display: flex;
    align-items: center;
    margin-top: 64px;
    gap: 135px;
}

.first {
    display: flex;
    justify-content: center;
}

.tagline {
    display: flex;
    width: 1440px;
    margin-top: 110px;
    flex-direction: row;
    justify-content: space-between;
}

.green {
    display: flex;
    flex-direction: column;
}

.yellow {
    display: flex;
    align-items: center;
    width:226px;
    justify-content: center;
    height: 40px;
    padding: 8px, 16px, 8px, 16px;
     border-radius: 50px;
    gap: 12px;
    background-color: #F9F0FF;
    color: #722ED1;
    font-family: 'Lato';
font-size: 16px;
font-weight: 500;
line-height: 19px;
}

.snippet2 {
    display: flex;
    margin-top: 24px;
    font-family: 'Roboto Slab';
font-size: 32px;
font-weight: 700;
line-height: 40px;
text-align: left;
}

.snippet3 {
    display: flex;
    margin-top: 24px;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    opacity: 50%;
}

.green2 {
    display: flex;
}

.quote {
    display: flex;
    background-color: #FBFCFF;
    justify-content: center;
    flex-direction: column;
    margin-top: 110px;
}

.copyright {
    width: 1440px;
}

.list2 {
    display: flex;
    flex-direction: column;
     justify-content: start;
    margin-left: 240px;
     margin-top: 58px;
 }

 .holder2 {
    font-family: 'Lato';
font-size: 12px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
width: 209px;
height: 100px;

 }











